nav {
  background-color: #1cae4f;
}

#headingLogo {
    width: 120px;
    height: 120px;
}

#homeDisplay {
  position: relative;
  width: 100%;
  height: 40vw;
  text-align: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 70%;
    filter: brightness(50%);
  }

  .centeredText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h1, h2 {
    color:  white;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-kerning: 50px;
  }
}
