@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

nav {
  img {
    width: 120px;
    height: 120px;
  }
}

iframe {
  padding: 5px;
  margin-top: 30px;
  background-color: #03464f;
}

#volunteerLink {
  color: #1cae4f;
}

#homeDisplay {
  position: relative;
  width: 100%;
  height: 40vw;
  text-align: center;

  #homeDisplayBackground {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 70%;
    filter: brightness(50%);
  }

  .top-left {
    left: 32px;
  }

  .top-right {
    right: 32px;
  }

  .top-left, .top-right {
    position: absolute;
    top: 32px;
}
  @media (min-width: 1120px) {
    .top-left img, .top-right img {
      width: 300px
    }
  }

  @media (min-width: 590px) and (max-width: 1119px) {
    .top-left img, .top-right img {
      width: 150px;
    }
  }

  @media (max-width: 589px) {
    .top-left img, .top-right img {
      width: 113px;
    }
    .top-right {
      right: 16px;
    }
  }

  .centeredText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1, h2 {
    color:  white;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
  }

  @media (max-width: 650px) {
    h1 {
      font-size: 18px;
    }
    h2 {
      font-size: 12px;
    }
  }
}

.questionWord {
  font-size: 18px;
}

.bodyText {
  padding-top: 20px;
  color: #03464f;
}
