{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="bodyText">
    <p class="homeHeading">
      OUR OPERATIONS ARE CARRIED OUT BY A GROUP OF CAPABLE LEADERS DEDICATED TO OUR MISSION.
    </p>
    <p>
      The Shift Captains are a group of WashU students dedicated to service and making a difference in our community. They lead shifts with the responsibility, integrity, and dependability expected of truly great leaders. Out Leadership Team is composed of Shift Captains who go above and beyond to make CK x FRN WashU the best it can be, accepting higher responsibilities and directing the rest of the Shift Captains with new ideas and proven standards of quality.
    </p>
    <br>
    <div class="row align-items-center my-3">
      <div class="col-lg-3 col-sm-6">
        <img src="Images/LT/Salil.jpg" class="img-fluid" alt="Responsive image">
      </div>

      <div class="col-lg-9 col-sm-6 my-3">
        <p class="homeHeading-2">SALIL UTTARWAR</p>
        <p class="LTtitle">External President</p>
        Salil Uttarwar is a senior at Washington University in St. Louis majoring in Genomics and Computational Biology and minoring in Computer Science.
        In his free time he likes to go on runs and try out new recipes. His favorite things to cook include Thai curries and baklava.
        In the future, he hopes to attend medical school, learn more computer science, and continue to stay involved in community work fighting food insecurity.
      </div>
    </div>

    <br>
    <div class="row align-items-center my-3">
      <div class="col-lg-3 col-sm-6">
        <img src="Images/LT/sophie.jpg" class="img-fluid" alt="Responsive image">
      </div>

      <div class="col-lg-9 col-sm-6">
        <p class="homeHeading-2">SOPHIE TOMATZ</p>
        <p class="LTtitle">Internal President</p>
        Sophie Tomatz is a senior at WashU majoring in Biochemistry with a minor in Spanish. She enjoys hiking, cooking, and skiing.
        Her favorite thing to cook is Thai curry. In the future, she plans to attend graduate school to study plant biology.
      </div>
    </div>

    <br>
    <div class="row align-items-center my-3">
      <div class="col-lg-3 col-sm-6">
        <img src="Images/LT/aidan.JPG" class="img-fluid" alt="Responsive image">
      </div>

      <div class="col-lg-9 col-sm-6">
        <p class="homeHeading-2">AIDAN RAIKAR</p>
        <p class="LTtitle">Vice President</p>
        Aidan Raikar is a junior at Washington University in St. Louis majoring in Classics with minors in Computer Science and Psychology.
        He enjoys reading and playing board games. His favorite thing to cook is Carbonara. He plans to attend medical school in the future.
      </div>
    </div>
  </div>
</div>

{% endblock %}
